// *************************************
//
// Content
// -> This is the overall content for the site 
//
// *************************************

body {
	background-color: #171A27;
	padding: 0 20px;
}

.Fullbody-wrapper.u-gridContainer {
	background-color: $c-transblue;
	padding-left: 0;
	padding-right: 0;
}

.white-content {
	background-color: white;
}

.widgettitle {
	color: $c-bluelight;
}

.Side-social {
	position: fixed;
	right: 0;
	top: 250px;
	height: auto;
	width: 80px;
	padding: 15px;
	border-radius: 20px 0 0 20px;
	background-color: rgba(255,255,255,0.1);
	a:hover {
		opacity: 0.7;
		-webkit-transition:all 0.2s ease;
		-moz-transition:all 0.2s ease;
		-o-transition:all 0.2s ease;
	}
	.pad-bot-social {
		margin-bottom: 7px;
	}	
}

.page-id-3 {
	.Content-entry {
		padding: 30px 0 30px 10px;
	}
}

.Content-entry {
	padding: 0 0 30px 25px;
}


.Sidebar {
	padding: 0 20px;
	.geldbesparen-wrap {
		padding: 0;
		margin-top: 35px;
	}	


	.geldbesparen {		
		color: white;
		border-radius: 20px;
		padding: 10px 20px;
		background-color: $c-bluelight;
		h3 {
			font-size: 24px;
			text-align: center;
			line-height: 30px;
			margin: 0;
			margin-top: 15px;
		}
		p {
			font-size: 15px;
			text-align: center;
			line-height: 28px;
		}
		.smaller-txt {
			font-size: 13px;
			text-align: center;
		}
	}
}

.page-id-3 {
	.Sidebar {
		.geldbesparen-wrap {
			margin-top: 0;
		}
	}
}

.call-me-wrap {
	padding: 15px 0;
}

.call-me {
	color: white;
	border-radius: 20px;
	padding: 10px 25px;
	background-color: $c-bluedark;
	h3 {
		font-size: 24px;
		line-height: 30px;
		margin: 0;
		margin-top: 15px;
	}
	
	p {
		font-size: 15px;
		line-height: 15px;
		font-weight: 200;
	}
}

.call-me-form {
	
	label.gfield_label {
		font-weight: 200 !important;
	}
	
	input.gform_button {
		background-color: $c-bluelight;
		border-radius: 10px;
		border: 0px;
		padding: 5px 10px;
		color: white;
		font-weight: 200;
		border: 3px solid $c-bluelight;
		
		&:hover {
			background-color: transparent;
			color: $c-bluelight;
			border: 3px solid $c-blue;
	
			-webkit-transition:all 0.2s ease;
			-moz-transition:all 0.2s ease;
			-o-transition:all 0.2s ease;
	
		}
	}
	
	.ginput_container {		
		input, textarea {
			background-color: white;
			border-radius: 7px;
			border: 0 solid;
			color: $c-bluedark;
			font-size: 14px !important;
			&:hover, &:focus {
				background-color: white;
			}

		}
	}
	
	.gform_wrapper .gform_footer {
	    padding: 5px 0 0;
    }

	.gform_wrapper .top_label input.medium {
		width: 100%;
		padding-left: 5px;
	}

	select.menu {
		width: 150px;
	}
	//----------------------------------------
}
.Home-three-img a:hover {
	opacity: 0.7;
	text-decoration: none;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	
}
.Home-three-img p {
	color: $c-bluedark;
}

.Home-pad-left {
	margin-top:	15px;
	padding-left: 5px;
	.u-gridCol4 {
		margin-right: 0;
	}
	
	img {
		display: block;
		margin: 0 auto;
	}
	p {
		text-align: center;
		font-size: 13px;
	}
}


.hr-style hr {
	background-color: $c-bluedark;
	color: $c-bluedark;
}


.points-rows {
	.pointRow {
		margin-bottom: 15px;
	}
	
	h2 {
		color: $c-bluelight;
		font-weight: 600;
		color: 30px;
		margin: 10px 0 15px;
		font-size: 25px;
		letter-spacing: 1px;
	}
	
	span {
		text-align: left;
		color: $c-bluedark;
		font-weight: 500;
		letter-spacing: 1px;
		padding-left: 5px;
	}
	
	.margin-left-span-home {
		margin-left: 28px;
	}
	
	img {
		display: inline-block;
		margin-bottom: -6px;
	}
}


.content-home-box {
	padding: 15px 10px 0;
}

.pagetitle h2 {
	color: $c-bluelight;
}






// Contact form style

label.gfield_label {
	font-weight: 200 !important;
}

input.gform_button {
	background-color: $c-bluelight;
	border-radius: 10px;
	padding: 5px 10px;
	color: white;
	font-weight: 200;
	border: 3px solid $c-bluelight;
	
	&:hover {
		background-color: transparent;
		color: $c-bluelight;
		border: 3px solid $c-blue;

		-webkit-transition:all 0.2s ease;
		-moz-transition:all 0.2s ease;
		-o-transition:all 0.2s ease;

	}
}

.ginput_container {		
	input, textarea {
		background-color: white;
		border-radius: 7px;
		border: 0 solid;
		color: $c-bluedark;
		border: 1px solid $c-bluedark;
		font-size: 14px !important;
		
		
		&:hover, &:focus {
			background-color: rgba(26, 96, 218, 0.05);
		}
	}
}

.gform_wrapper .gform_footer {
    padding: 5px 0 0;
}

.gform_wrapper .top_label input.medium {
	padding-left: 5px;
}

select.menu {
	width: 150px;
}

// -----------------------------------

.video-wrapper {
	padding: 10px 10px 30px;
	margin-bottom: 30px;
	
	.video-title p {
		color: $c-bluedark;
		text-align: center;
		font-size: 30px;
		line-height: 15px;
	}
	
	iframe {
		display: inherit;
		margin: 0 auto;
	}
}

.hr-style {
	margin-top: 15px;
}

.Slide-two-text {
	display: none;
	background-color: $c-blue;
	&:hover {
		background-color: $c-bluedark;
		p, span, a {
			text-decoration: none;
			-webkit-transition:all 0.2s ease;
			-moz-transition:all 0.2s ease;
			-o-transition:all 0.2s ease;
			
		}
	}

	p, span {
		color: white;
		text-align: center;
		font-size: 25px;
		margin: -7px 0 0;
		padding-top: 15px;
		padding-bottom: 15px;
		@media all and (max-width: 720px) {
			font-size: 16px;
		}
	}
	
	span {
		font-weight: 700;
	}
}

@media all and (max-width: 1115px) {
	.Header {
		height: auto !important;
		.Slide-one-text {
			display: none;
		}
		.Slide-two-text {
			display: block;
		}
	}
	
	
	.Page-title {
		padding-left: 15px;
		padding-right: 15px;
		h2 {
			font-size: 35px !important;
		}
		p {
			font-size: 14px !important;
		}
	}
}

@media all and (max-width: 1000px) {

	.page-id-3 {
		.Sidebar {
			display: none;
		}
		.Coll-Full-mob {
			@include span-columns(12);
		}
	}

} //--- @media - 1000px ---

@media all and (max-width: 900px) {

	.Sidebar {
		display: none;
	}
	.Coll-8 {
		@include span-columns(12);
	}	
}

@media all and (max-width: 700px) {
	.home-full-mid {
		@include span-columns(12);
	}
}


@media all and (max-width: 450px) {
	.u-gridContainer.white-content {
		padding-left: 5px;
		padding-right: 15px;
	}
	
	.gform_wrapper .top_label input.medium {
		width: 100% !important;
	}
	
	label.gfield_label {
		font-size: 14px;
	}
	
	.pagetitle h2{
		font-size: 22px;
	}
	body p {
		font-size: 14px;
	}

	.video-title p {
		font-size: 20px !important;
		line-height: 15px !important;
	}
	.Home-three-img {
		img {
			padding: 0 10px;
		}
		p {
			font-size: 10px;
		}
	}
	
	.points-rows {
		@include span-columns(12);
		h2 {
			text-align: center;
		}
	}
}

