// *************************************
//
// Content
// -> This is the overall content for the site 
//
// *************************************

body {
	background-color: #171A27;
}

.Fullbody-wrapper.u-gridContainer {
	background-color: $c-transblue;
	padding-left: 0;
	padding-right: 0;
}

.white-content {
	background-color: white;
}

.Side-social {
	position: fixed;
	right: 0;
	top: 250px;
	height: auto;
	width: 80px;
	padding: 15px;
	border-radius: 20px 0 0 20px;
	background-color: rgba(255,255,255,0.1);
	a:hover {
		opacity: 0.7;
		-webkit-transition:all 0.2s ease;
		-moz-transition:all 0.2s ease;
		-o-transition:all 0.2s ease;
	}
	.pad-bot-social {
		margin-bottom: 7px;
	}	
}

.Content-entry {
	padding: 40px 0 30px 10px;
}

.Sidebar {
	padding: 0 20px;
	.geldbesparen-wrap {
		padding: 0;
	}	
	.geldbesparen {		
		color: white;
		border-radius: 20px;
		padding: 10px 20px;
		background-color: $c-bluelight;
		h3 {
			font-size: 24px;
			text-align: center;
			line-height: 30px;
			margin: 0;
			margin-top: 15px;
		}
		p {
			font-size: 15px;
			text-align: center;
			line-height: 28px;
		}
		.smaller-txt {
			font-size: 13px;
			text-align: center;
		}
	}
}

.call-me-wrap {
	padding: 15px 0;
}

.call-me {
	color: white;
	border-radius: 20px;
	padding: 10px 25px;
	background-color: $c-bluedark;
	h3 {
		font-size: 24px;
		line-height: 30px;
		margin: 0;
		margin-top: 15px;
	}
	
	p {
		font-size: 15px;
		line-height: 15px;
		font-weight: 200;
	}
}

.call-me-form {
	
	label.gfield_label {
		font-weight: 200 !important;
	}
	
	input.gform_button {
		background-color: $c-bluelight;
		border-radius: 10px;
		border: 0px;
		padding: 5px 10px;
		color: white;
		font-weight: 200;
		border: 3px solid $c-bluelight;
		
		&:hover {
			background-color: transparent;
			color: $c-bluelight;
			border: 3px solid $c-blue;
	
			-webkit-transition:all 0.2s ease;
			-moz-transition:all 0.2s ease;
			-o-transition:all 0.2s ease;
	
		}
	}
	
	.ginput_container {		
		input, textarea {
			background-color: white;
			border-radius: 7px;
			border: 0 solid;
			color: $c-bluedark;
			font-size: 14px !important;
		}
	}
	
	.gform_wrapper .gform_footer {
	    padding: 5px 0 0;
    }

	.gform_wrapper .top_label input.medium {
		width: 100%;
		padding-left: 5px;
	}

	select.menu {
		width: 150px;
	}
	//----------------------------------------
}

.Home-three-img p {
	color: $c-bluedark;
}

.Home-pad-left {
	margin-top:	15px;
	padding-left: 5px;
	.u-gridCol4 {
		margin-right: 0;
	}
	
	img {
		display: block;
		margin: 0 auto;
	}
	p {
		text-align: center;
		font-size: 12px;
		font-weight: 600;
	}
}


.hr-style hr {
	background-color: $c-bluedark;
	color: $c-bluedark;
}


.points-rows {
	.pointRow {
		margin-bottom: 15px;
	}
	
	h2 {
		color: $c-bluelight;
		font-weight: 600;
		color: 30px;
		margin: 10px 0 15px;
		font-size: 25px;
		letter-spacing: 1px;
	}
	
	span {
		text-align: left;
		color: $c-bluedark;
		font-weight: 500;
		letter-spacing: 1px;
		padding-left: 5px;
	}
	
	.margin-left-span-home {
		margin-left: 28px;
	}
	
	img {
		display: inline-block;
		margin-bottom: -6px;
	}
}


.content-home-box {
	padding: 15px 10px 0;
}



