.Footer {
	position: relative;
}

// RESPONSIVE FOOTER

.Footer-inner .widget {
	@include span-columns(4);
	margin-right: 1.5%;
	@media screen and(max-width: 980px){
		@include span-columns(12);
		text-align: center;
		padding-bottom: 25px;
		border-bottom: 2px solid white;
	}
}

.Footer-inner {
	padding: 20px;
	padding-right: 0;
	color: white;
	a {
		color: white;
		font-weight: 200;
	}
	
	select.menu {
		border: 0 solid;
		border-radius: 6px;
		padding: 2px 15px;
		color: $c-bluedark;
	}

}

#text-3 {
	p {
		padding-left: 20px;
		@media screen and(max-width: 980px){
			padding-left: 0px;
		}
	}
}

#text-5 {
	display: none;
	border-bottom: 0px solid;
}

//----------------------

.Footer-social {
	display: none;
	height: auto;
	width: 260px;
	margin: 50px auto 0;
	a:hover {
		opacity: 0.7;
		text-decoration: none; 
		-webkit-transition:all 0.2s ease;
		-moz-transition:all 0.2s ease;
		-o-transition:all 0.2s ease;
	}
	img {
		margin-right: 10px;
	}
}


//---------------------------


.Socket {
	text-align: center;
	color: white;
	p {
		font-weight: 400;
		font-size: 14px;
	}

	.LG-link {
		color: $c-bluedark;
		font-weight: 600;
		span {
			color: #FF9400;
		}
		&:hover {
			text-decoration: none;
			opacity: 0.7;
		}
	}
}

@media all and (max-width: 980px) {
	.Footer-inner {
		padding-left: 0px;
	}
	
	.Footer-social {
		display: block;
	}
	
	#text-5 {
		display: block;
	}
}

@media all and (max-width: 500px) {
	.footer-logo img {
		max-width: 200px;
	}
	
	.textwidget {
		h4 {
			margin-bottom: 20px;
		}
		p {
			line-height: 20px;
		}
	}
}