// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
	position: relative;
	z-index: 100;
 
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-link.is-active {
	background-color: $c-transblue;
}


// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //

.Navigation-listItem {
  display: inline;
  margin: 0 10px;
}

// ----- Navigation link ----- //




// -------------------------------------
// all things below
// -------------------------------------

.Top-Nav {
	position: relative;
	.Logo {
		float: left;
		background-image: url('../img/logo.png');
		background-size: cover;
	    height: 100px;
	    width: 270px;
	    margin: 20px 0;
	    
	    // -- Temp border-radius --
	    border-radius: 20px;
	    
	    &:hover {
		    opacity: 0.7;
		    -webkit-transition:all 0.2s ease;
		    -moz-transition:all 0.2s ease;
		    -o-transition:all 0.2s ease;
	    }
	}
	
	.Top-img {
		position: relative;
		top: 0;
		left: 0;
		img {
			position: absolute;
			width: 50px;
			height: 50px;
			left: -64px;
			top: -3px;
		}
	}
	
	.Top-contact {
		position: relative;
		width: 540px;
		float: right;
		
		.Top-tel {
			position: absolute;
			top: 50px;
			left: 0;
			a,span {
				color: white;
				font-size: 30px;
			}
			
		    &:hover {
			    opacity: 0.7;
			    -webkit-transition:all 0.2s ease;
			    -moz-transition:all 0.2s ease;
			    -o-transition:all 0.2s ease;
		    }
		}
		
		.Top-mob {
			position: absolute;
			top: 50px;
			right: 0px;
			
			a,span {
				color: white;
				font-size: 30px;
			}
			
		    &:hover {
			    opacity: 0.7;
			    -webkit-transition:all 0.2s ease;
			    -moz-transition:all 0.2s ease;
			    -o-transition:all 0.2s ease;
		    }			
		}
		
	}/* Top-contact */
	
}/* Top-nav */


.Nav-wrap {
	padding: 0;
	border-radius: 20px 20px 0 0;
	background-color: $c-transblue;
}


.Navigation {
	ul.Navigation-list {
		margin: 0;
		
		li.Navigation-listItem {						
			line-height: 75px;
			a.Navigation-link {
				color: white;
				font-size: 14px;
				padding: 20px;
				letter-spacing: 1px;
				border-radius: 10px;
				&:hover {
					color: white;
					text-decoration: none;
					background-color: $c-blue;
	
					-webkit-transition:all 0.3s ease;
					-moz-transition:all 0.3s ease;
					-o-transition:all 0.3s ease;
				}
			}
		}
	}
}

.Nav-toggle {
	display: none;
}


.Navigation-list.is-hidden {
    display: none;
}

// ------ ul dropdown menu style --------

.Navigation-listItem--hasDropdown {
	position: relative;
	text-decoration: none;
}

.Navigation-link--dropdown:focus {
	background-color: $c-transblue;
	text-decoration: none;
}

ul.Navigation-list--dropdown {
	position: absolute;
	top: 51px;
	left: 0;
	background-image: url('../img/background_uniek.jpg');
	background-repeat: repeat;
	border-radius: 0px 0px 15px 15px;
	border-bottom: 3px solid white;
	border-left: 3px solid white;
	border-right: 3px solid white;
	background-size: 320% auto;
		
	li.Navigation-listItem {
		display: block;
		position: relative;
		a.Navigation-link {

		}
	}
}

