// *************************************
//
// responsive-nav
// -> The resopnsive nav menu css
//
// *************************************

.Mob-contact-ico {
	display: none;
}


//======================================================
//          @media queries - Responsiveness
//======================================================


@media all and (max-width: 1115px) {
	.Top-contact {
		display: none;
	}


	
//  This is the wrapper for the navigation
	.Nav-wrap {
		height: auto;
		min-height: 76px; // <-- adjust to height of div
	}
	
//  Adjust the sizes and colors for erverything to your choice
	.Navigation {	
		position: relative;
		ul.Navigation-list {
			position: absolute;
			li.Navigation-listItem {
				display: block;
				line-height: 30px;
				border-left: 0 solid;
				text-align: center;

				&:first-of-type {
					margin-top: 75px;
				}

				&:last-of-type {
					margin-bottom: 15px;
				}
				
				a.Navigation-link {
					color: white;
					display: block;
					font-size: 14px;
					padding: 5px;
					margin: 10px 0 ;
					font-weight: 600;
					letter-spacing: 1.5px;
					background-color: $c-transblue;
					border: 3px solid transparent;						
					
				}
				a.Navigation-link:focus {
					border: 3px solid $c-bluelight;
					background-color: rgba(0,0,0,0.2);
					
				}
				
				a.Navigation-link:hover {
					color: white;
					text-decoration: none;
					background-color: $c-bluelight;
					-webkit-transition:all 0.2s ease;
					-moz-transition:all 0.2s ease;
					-o-transition:all 0.2s ease;

				}
			}
		}
	}
	
//	This is for those 3 contact icons on the left of the navbar
	.Mob-contact-ico {
		display: block;
		z-index: 5000;
				
		a { 
			position: absolute;
			display: block;
			width: 55px;
			height: 55px;
			border-radius: 7px;
			top: 6px;
			background-color: transparent;
			&:hover {
				opacity: 0.7;
				-webkit-transition:all 0.2s ease;
				-moz-transition:all 0.2s ease;
				-o-transition:all 0.2s ease;
				
			}
			
			img {
				border: 2px solid $c-bluelight; //nav-icon blueborder
				border-radius: 10px; //nav-icon blueborder
			}
		}
				
		.tel2svg {
			left: 10px;				
			img {
				padding: 1px;
			}
		}

		.telsvg {
			left: 65px;		
			img {
				padding: 2px;
			}
		}
		
		.mailsvg {
			left: 120px;
			img {
				padding: 0;
			}
		}
	}
}

