// *************************************
//
// responsive-nav
// -> The resopnsive nav menu css
//
// *************************************

.Mob-contact-ico {
	display: none;
}


//======================================================
//          @media queries - Responsiveness
//======================================================


@media all and (max-width: 1115px) {
	
//  This is the wrapper for the navigation
	.Nav-wrap {
		height: auto;
		min-height: 76px; // <-- adjust to height of div
	}
	
//  Adjust the sizes and colors for erverything to your choice
	.Navigation {	
		position: relative;
		ul.Navigation-list {
			margin-top: 60px;
			position: absolute;
			li.Navigation-listItem {
				display: block;
				line-height: 30px;
				border-left: 0 solid;
				
				&:last-of-type {
					margin-bottom: 15px;
				}
				
				&:hover {
					background-color: $c-blue;
	
					-webkit-transition:all 0.2s ease;
					-moz-transition:all 0.2s ease;
					-o-transition:all 0.2s ease;
					a.Navigation-link {
						color: $c-blue;
						text-decoration: none;
	
					}
				}
				
				a.Navigation-link {
					color: white;
					display: block;
					font-size: 14px;
					padding: 5px;
					margin: 0;
					font-weight: 600;
					letter-spacing: 1.5px;
				
				}
			}
		}
	}
	
//	This is for those 3 contact icons on the left of the navbar
	.Mob-contact-ico {
		display: block;
		z-index: 5000;
				
		a { 
			position: absolute;
			display: block;
			width: 55px;
			height: 55px;
			border-radius: 7px;
			top: 6px;
			background-color: transparent;
			&:hover {
				opacity: 0.7;
			}
		}
				
		.tel2svg {
			left: 10px;				
			.Icon--inline {
				margin: -5px;
			}
		}

		.telsvg {
			left: 65px;				
			.Icon--inline {
				margin: -4px;
			}
		}
		
		.mailsvg {
			left: 120px;				
			.Icon--inline {
				margin: -6px;
			}
		}
	}
}

